body {
    background-color: white;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10em;
    padding: 0 0 5em 0;
}

.hero {
    display: flex;
    height: 35vh;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    font-weight: bold;
    background-color: white;
    width: 100%;
    background-image: url(https://media.discordapp.net/attachments/736596584212725822/1213971934170062888/Frame_8484.png?ex=65f76a77&is=65e4f577&hm=0658f1d7c916f196e82abae22decd4ecc40666ffa32baa454b5d9a00d2b8db74&=&format=webp&quality=lossless&width=525&height=350);
    background-size: cover;
    background-position: center;
    color: var(--orange);
}

.background {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5em;
}

.desc {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: justify;
}

h1 {
    font-size: 4em;
    font-family: var(--kaushan);
    color: orange;
}

p {
    font-size: 1.5em;
    line-height: 1.5;
}

.fotbar {
    width: 50rem;
    height: 25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.fotbar img {
    width: 50rem;
    height: 25rem;
    object-fit: cover;
    transition: all 1s;
}

.fotbar:hover img {
    transform: scale(1.2);
}

.member {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.member-list {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.personal {
    width: 33%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.surname {
    font-size: 3em;
    font-weight: bold
}

.name {
    font-size: 1.5em;
    text-align: center;
}

.personal .image {
    width: 90%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.image img {
    object-fit: cover;
    transition: all 1s;
}

.image:hover img {
    transform: scale(1.5);
}

.links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.links a {
    text-decoration: none;
}

.links img {
    width: 3em;
    height: 3em;
    transition: all 0.5s;
}

.links img:hover {
    transform: scale(1.2);
}

footer {
    height: 30vh;
}

@media only screen and (max-width: 768px) {
    .hero {
        height: 15vh;
        font-size: 2em;
    }

    .about {
        gap: 2em;
    }

    .desc {
        width: auto;
        gap: 5px;
        text-align: center;
    }

    .fotbar {
        width: auto;
        height: auto;
        border-radius: 20px
    }

    .fotbar img {
        max-width: 80vw;
        max-height: 35vw;
    }

    .background {
        flex-direction: column-reverse;
        max-width: 80%;
        gap: 20px;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    .surname {
        font-size: 1.5em;
    }

    .name {
        font-size: 1em;
        text-align: center;
    }

    .links {
        display: block;
    }

    .links img {
        width: 2em;
        height: 2em;
    }

    .personal {
        min-height: 40em;
        justify-content: start;
    }

    .member {
        text-align: center;
    }
}