@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaushan+Script&display=swap');

.section-hero {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left  {
    width: 30%;
}

.hero-right {
    display: flex;
    flex-direction: column;
}

.hero-numbers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sm-box, .md-box {
    color: white;
    background-color: orange;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sm-box {
    width: 20%;
}

.md-box {
    width: 30%;
}