@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* landing */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: grid;
    width: 100%;
}

.hero-img img {
    object-fit: cover;
    width: 100vw;
    height: 77%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    gap: 30%;
}

.hero-content h1 {
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 7rem;
    font-weight: 300;
    text-align: center;
}

.hero-img, .hero-content {
    grid-area: 1/2;
}

.hero-numbers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 42rem;
    background-color: orange;
    border-radius: 0.8rem;
}

.hero-numbers h2 {
    font-size: 2rem;
    font-weight: 500;
}

.hero-numbers p {
    font-size: 1.2rem;
    font-weight: 400;
}

.sm-box, .md-box {
    color: white;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem;
}

.sm-box {
    width: 18%;
}

.md-box {
    width: 33%;
}

/* province */

.province-section {
    width: 75.5%;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.province-img {
    width: 36rem;
}

.province-img img {
    width: 100%;
    height: auto;
}

.province-text {
    width: 42rem;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5%;
}

.province-text .box h1 {
    font-family: 'Kaushan Script', cursive;
    color: #FF9209;
    font-weight: 200;
    font-size: 3.5em;
    margin-bottom: 1rem;
}

/* Regency */

.regency {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 3em;
    font-weight: bold;
}

.image {
    width: 35vw;
    height: 15vw;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.image img {
    width: 50em;
    object-fit: cover;
}

.info {
    max-width: 50%;
    height: 35em;
    padding: 2em;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.desc {
    font-size: 1.25em;
    width: 35vw;
    text-align: justify;
}

.map {
    /* background-color: aqua; */
    width: 50%;
    height: 35em;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map img {
    width: 95%;
}

.button {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.point:before {
    font-size: xx-large;
}

button {
    padding: 1.5em;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: gray;
}

.active {
    display: flex;
}