nav {
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
}

li {
    width: fit-content;
}

.wte {
    visibility: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #CDCDCD;
    gap: 20px;
    z-index: 1;
    padding: 0 10px;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition: max-height 1s, padding 1s;
}

.hoverable {
    gap: 10px;
    position: relative;
}

.hoverable:hover .wte {
    visibility: 1;
    padding: 10px;
    max-height: 200px;
}

a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: all 1s;
}

a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: brown;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: all 1s;
}

a:hover {
    color: brown;
}

a:hover::after {
    width: 100%;
}