main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.hero {
    display: none;
    width: 100%;
    height: 80vh;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.hero.kupang::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Kupang.jpg/1200px-Kupang.jpg);
    filter: brightness(0.25);
}

.hero.manggarai-barat::before {
    background-image: url(https://asset.kompas.com/crops/I2xOtGRVOrtyWhl4kW-uslt4ViM=/59x0:1139x720/750x500/data/photo/2022/07/22/62da623fe5b34.jpeg);
    filter: brightness(0.25);
}

.hero.manggarai-timur::before {
    background-image: url(https://asset.kompas.com/crops/VJNz6nBkYshUJ5qCIeqzDR1ror8=/0x0:0x0/750x500/data/photo/2022/05/10/6279bdc54f53f.jpg);
    filter: brightness(0.25);
}

.hero.sikka::before {
    background-image: url(https://atourin.obs.ap-southeast-3.myhuaweicloud.com/images/wilayah/sikka-1638766010.png?x-image-process=image/resize,p_100,limit_1/imageslim);
    filter: brightness(0.25);
}

.hero.alor::before {
    background-image: url(https://static.promediateknologi.id/crop/0x0:0x0/750x500/webp/photo/2022/12/29/1452602256.jpg);
    filter: brightness(0.25);
}

.name {
    font-size: 3em;
    font-family: 'Kaushan Script', sans-serif;
    color: var(--orange);
}

.image {
    width: 35vw;
    height: 15em;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.image img {
    width: 50em;
    object-fit: cover;
}

.info {
    max-width: 50%;
    height: 35em;
    padding: 2em;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.desc {
    font-size: 1.25em;
    width: 35vw;
    text-align: justify;
}

.map {
    /* background-color: aqua; */
    width: 50%;
    height: 35em;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.map img {
    width: 90%;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.prev:before {
    content: "<";
    font-size: xx-large;
}

.next::before {
    content: ">";
    font-size: xx-large;
}

.button {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: end;
}

button {
    width: 5em;
    height: 5em;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--orange);
}

.active {
    display: flex;
}

.selengkapnya {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--orange);
    font-size: 1.5em;
}

.dot {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--minor);
    border-radius: 50%;
    cursor: pointer;
}

.point-select {
    height: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: var(--orange);
}

.destinasi {
    width: 80%;
    height: 75vh;
    gap: 20px;
    grid-template-rows: auto 1fr;
    display: none;
}

.content-show {
    display: grid;
}

.destinasi h1 {
    color: var(--orange);
    font-size: 3em;
}

.destinasi .gallery * {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    filter: brightness(0.8);
}

.kupang .gallery {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.kupang .two {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.kupang .top {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 10px;
}

.kupang .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.kupang .gallery .one {
    filter: brightness(0.5);
}

.manggarai-barat .gallery {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.manggarai-barat .one {
    display: grid;
    grid-template-rows: 3fr 7fr;
    gap: 10px;
}

.manggarai-barat .two {
    display: grid;
    grid-template-rows: 7fr 3fr;
    gap: 10px;
}

.manggarai-timur .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.manggarai-timur .one, .manggarai-timur .two {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(2, 1fr);
}

.manggarai-timur .bot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.sikka .gallery {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.sikka .top {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 10px;
}

.sikka .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.alor .gallery {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    gap: 10px;
}

.alor .three {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.alor .bot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* .kupang .two {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top, .bottom {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
}

.kupang .one {
    width: 20%;
    height: 100%;
}

.kupang .top .left {
    width: 30%;
    height: 100%;
}

.kupang .top .right {
    width: 70%;
    height: 100%;
}

.kupang .bottom .left, .kupang .bottom .right {
    width: 50%;
    height: 100%;
} */