main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    background-color: #FFF3E1;
    padding: 5rem 0;
}

.line1, .line2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 80%;
    transform: translateX(-300px);
    opacity: 0;
    transition: all 1s;
}

.title {
    font-family: 'Kaushan Script', sans-serif;
    color: var(--orange);
    font-size: 4em;
}

.general-box, .tips-box {
    background-color: white;
    width: 28%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: .8rem;
    transition: transform 1s;
}

.tips-box:hover {
    transform: scale(1.2);
    border: 2px solid var(--orange);
    z-index: 1;
}

.tips-content {
    font-size: 1.5em;
}

.tips-box {
    flex-direction: column;
    gap: 25px;
}

.tips-icon {
    overflow: hidden;
    transform: scale(1.25);
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;
    padding: 4rem 0;
    width: 100%;
    height: max-content;
}

.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .8rem;
    padding: 2em;
    gap: 30px;
    width: 80%;
}

.faq-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3rem 2rem 1rem 2rem;
    width: 100%;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    max-height: 3em;
    transition: all 0.5s;
    position: relative;
    -webkit-box-shadow: 0px 1px 19px 2px var(--orange);
    -moz-box-shadow: 0px 1px 19px 2px var(--orange);
    box-shadow: 0px 1px 5px 2px var(--orange);
}

.faq-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    z-index: 1;
    cursor: pointer;
}

.faq-header button {
    display: flex;
    background: none;
    border: none;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    transition: 100ms;
    cursor: pointer;
}

.faq-header button:hover {
    font-size: 2.4rem;
    transition: 500ms;
}

.faq-header button:active {
    font-size: 2.4rem;
    color: var(--orange);
    transition: 50ms;
}

.faq-content {
    transition: all 0.5s;
    opacity: 0;
    width: 100%;
    position: relative;
    transform: translateY(-2em);
    font-size: 1.25em;
}

.faq-header.active+.faq-content {
    transform: translateY(0);
    opacity: 1;
}

.faq-header.active .drop {
    transform: rotate(180deg);
}

.faq-box.clicked {
    max-height: 10em;
    padding: 2rem;
}

.artikel {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 1.5em;
}

.artikel h1 {
    color: var(--orange);
    font-size: 3.5em;
}

.artikel .gallery {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 100%;
}

.gallery .top, .gallery .bot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery .card {
    background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.gallery .card:hover .text {
    height: 80%;
}

.gallery .image {
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0 0;
    display: flex;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    object-fit: cover;
}

.gallery .text {
    background-color: var(--minor);
    height: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 1s;
    border-radius: 0 0 30px 30px;
}

.gallery .heading {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.gallery .source {
    font-size: 1.2em;
}

.slide-a {
    opacity: 1;
    transform: translateX(0)
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .tips {
        padding: 2rem 0;
    }
    
    .line1, .line2 {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }   

    .general-box, .tips-box {
        width: 80%;
        aspect-ratio: 16 / 12;
    }

    .general-box h1 {
        font-size: 3em;
    }

    .tips-icon img {
        width: 15vw;
    }

    .tips-content {
        font-size: 4vw;
    }

    .faq {
        margin: 0;
    }

    .faqs {
        padding: 0;
    }

    .faq-box {
        max-height: 2em;
        padding: 2em;
        gap: 0;
    }

    .faq-header h2 {
        font-size: 1em;
    }

    .faq-content {
        font-size: 1em;
    }

    .faq-content {
        display: none;
    }
    
    .faq-header.active+.faq-content {
        display: block;
    }

    .faq-header button {
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
    }

    .artikel .gallery {
        gap: 15px;
    }   

    .gallery .top, .gallery .bot {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .gallery .heading {
        font-size: 4.5vw;
    }

    .gallery .source {
        font-size: 3.5vw;
    }

    .artikel h1 {
        font-size: 2em;
    }
}